---
layout: default
top: true
---


{% assign profile = site.data.profile %}

<main>

  <div class="container profile-header">
    <img src="/assets/img/about_profile.png" class="profile-img" alt="{{ profile.name }}">
    <h1 class="h2">{{ profile.name }}</h1>
    <div class="description">
      <p><small><i class="fa fa-map-marker fa-fw"></i>&nbsp;{{ profile.bio }}</small></p>
      <p>{{ profile.description }}</p>
    </div>
    <div class="social-link">
      {% for account in profile.accounts %}
        <a href="{{ account.href }}" title="{{ account.service }}">
          <i class="fa {{ account.icon }} fa-lg fa-fw"></i>
        </a>
      {% endfor %}
    </div>
  </div>

  <div class="container profile-content">
    <div class="row">
      {% for section in profile.sections %}
        <div class="col-md-6">
          <h2 class="h3">{{ section.title }}</h2>
          {{ section.content | markdownify }}
        </div>
      {% endfor %}
    </div>
  </div>

</main>
